<p style="text-align: center;"><span style="color: #000080; background-color: #00ff00;"><strong>Page-1: Person Profile</strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>Name:&nbsp;</strong>{{name}}</p>
<p style="text-align: left;"><strong>Age:&nbsp;</strong>{{age}}</p>
<p style="text-align: left;"><strong>DOB:&nbsp;</strong>{{dob}}</p>
<p style="text-align: left;"><strong>Gender:&nbsp;</strong>{{gen}}</p>
<p style="text-align: left;"><strong>Disability Type: </strong></p>
<ol>
<li><strong>A [</strong>{{markdisA}}<strong>]</strong></li>
<li><strong>B [</strong>{{markdisB}}<strong>]</strong></li>
</ol>
<p><strong>Remarks: </strong></p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 33.3333%;">#Remark</td>
<td style="width: 33.3333%;">Descritption</td>
<td style="width: 33.3333%;">Law</td>
</tr>
<tr>
<td style="width: 33.3333%;">1</td>
<td style="width: 33.3333%;">{{remark1}}</td>
<td style="width: 33.3333%;">{{law1}}</td>
</tr>
<tr>
<td style="width: 33.3333%;">2</td>
<td style="width: 33.3333%;">{{remark2}}</td>
<td style="width: 33.3333%;">{{law2}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: right;">{{remarker}}</p>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="background-color: #00ff00;"><strong>---: End of Report :---</strong></span></p>
<p style="text-align: center;">&nbsp;</p>

