Flask~=2.2.5
sklearn~=0.0.post9
pandas~=2.1.1
numpy~=1.26.0
matplotlib~=3.8.0
pickle
gunicorn
beautifulsoup4~=4.12.2
soupsieve~=2.5
defusedxml~=0.7.1
cffi~=1.16.0
future~=0.18.3
Pillow~=10.0.1
ipython~=8.16.1
jupyter~=1.0.0
pip~=23.2.1
attrs~=23.1.0
argparse~=1.4.0
wheel~=0.41.2
tornado~=6.3.3
Jinja2~=3.1.2
pyzmq~=25.1.1
colorama~=0.4.6
pexpect~=4.8.0
gevent~=23.9.1
setuptools~=68.2.0
comm~=0.1.4
traitlets~=5.11.2
fqdn~=1.5.1
parso~=0.8.3
jedi~=0.19.1
pytz~=2023.3.post1
QtPy~=2.4.0
packaging~=23.2
PyYAML~=6.0.1
sniffio~=1.3.0
arrow~=1.3.0
python-dateutil~=2.8.2
Babel~=2.13.0
MarkupSafe~=2.1.3
werkzeug~=3.0.0
click~=8.1.7
blinker~=1.6.2
itsdangerous~=2.1.2
overrides~=7.4.0
scipy~=1.11.3
platformdirs~=3.11.0
six~=1.16.0
webencodings~=0.5.1
bleach~=6.0.0
tinycss2~=1.2.1
greenlet~=3.0.0
psutil~=5.9.5
joblib~=1.3.2
certifi~=2023.7.22
debugpy~=1.8.0
decorator~=5.1.1
Pygments~=2.16.1
backcall~=0.2.0
pickleshare~=0.7.5
wcwidth~=0.2.8
ptyprocess~=0.7.0
seaborn~=0.13.0
cycler~=0.12.0
ipywidgets~=8.1.1
scikit-learn~=1.3.1
threadpoolctl~=3.2.0
nbformat~=5.9.2
nbclient~=0.8.0
nbconvert~=7.9.0
fastjsonschema~=2.18.1
jsonschema~=4.19.1
jupyterlab~=4.0.6
notebook~=7.0.4
idna~=3.4
urllib3~=2.0.6
asttokens~=2.4.0
contourpy~=1.1.1
executing~=2.0.0
fonttools~=4.43.0
ipykernel~=6.25.2
pandocfilters~=1.5.0
mistune~=3.0.2
pycparser~=2.21
pyparsing~=3.1.1
qtconsole~=5.4.4
terminado~=0.17.1
websocket-client~=1.6.3
requests~=2.31.0
tldextract~=3.6.0
referencing~=0.30.2
webcolors~=1.13
jsonpointer~=2.4
isoduration~=20.11.0
kiwisolver~=1.4.5
Send2Trash~=1.8.2
filelock~=3.12.4
anyio~=4.0.0
json5~=0.9.14
cors~=1.0.1